@font-face {
  font-family: "iconfont"; /* Project id 4749568 */
  src: url('iconfont.woff2?t=1745229512717') format('woff2'),
       url('iconfont.woff?t=1745229512717') format('woff'),
       url('iconfont.ttf?t=1745229512717') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anzhuang:before {
  content: "\e6c9";
}

.icon-database:before {
  content: "\e69f";
}

.icon-other:before {
  content: "\e673";
}

.icon-wav:before {
  content: "\e854";
}

.icon-mp3:before {
  content: "\e84c";
}

.icon-m4a:before {
  content: "\e69e";
}

.icon-qrcode:before {
  content: "\e667";
}

.icon-fenxiang:before {
  content: "\e86e";
}

.icon-yongjin:before {
  content: "\e60c";
}

.icon-bill:before {
  content: "\e6cc";
}

.icon-zhangdan:before {
  content: "\e64f";
}

.icon-mima:before {
  content: "\e608";
}

.icon-miyao:before {
  content: "\e60f";
}

.icon-chongzhi:before {
  content: "\e612";
}

.icon-guyong:before {
  content: "\e60d";
}

.icon-jiegu:before {
  content: "\e618";
}

.icon-yijiaru:before {
  content: "\e60a";
}

.icon-qiye:before {
  content: "\e604";
}

.icon-look:before {
  content: "\e606";
}

.icon-at:before {
  content: "\e81e";
}

.icon-fabu:before {
  content: "\e617";
}

.icon-shuaxin:before {
  content: "\e616";
}

.icon-xiayou:before {
  content: "\e620";
}

.icon-xiayibu:before {
  content: "\e651";
}

.icon-jinyong:before {
  content: "\e728";
}

.icon-enum:before {
  content: "\e911";
}

.icon-meiju:before {
  content: "\e677";
}

.icon-details:before {
  content: "\e64d";
}

.icon-kejifuneng:before {
  content: "\e6fc";
}

.icon-dengpao:before {
  content: "\e63d";
}

.icon-download:before {
  content: "\ebb4";
}

.icon-upload:before {
  content: "\ebb3";
}

.icon-bmp:before {
  content: "\e681";
}

.icon-mov:before {
  content: "\e682";
}

.icon-gif:before {
  content: "\e683";
}

.icon-folder-yellow:before {
  content: "\e684";
}

.icon-dxf:before {
  content: "\e685";
}

.icon-filefolder-blue:before {
  content: "\e686";
}

.icon-exe:before {
  content: "\e687";
}

.icon-file1:before {
  content: "\e688";
}

.icon-img:before {
  content: "\e689";
}

.icon-dwt:before {
  content: "\e68a";
}

.icon-css:before {
  content: "\e68b";
}

.icon-jpg:before {
  content: "\e68c";
}

.icon-mp4:before {
  content: "\e68d";
}

.icon-txt:before {
  content: "\e68e";
}

.icon-ppt:before {
  content: "\e68f";
}

.icon-xlsx:before {
  content: "\e690";
}

.icon-div:before {
  content: "\e691";
}

.icon-chart:before {
  content: "\e692";
}

.icon-rtf:before {
  content: "\e693";
}

.icon-down:before {
  content: "\e694";
}

.icon-svg:before {
  content: "\e695";
}

.icon-rar:before {
  content: "\e696";
}

.icon-png:before {
  content: "\e697";
}

.icon-docx:before {
  content: "\e698";
}

.icon-up:before {
  content: "\e699";
}

.icon-pdf:before {
  content: "\e69a";
}

.icon-music:before {
  content: "\e69b";
}

.icon-a-Dwsdwg:before {
  content: "\e69c";
}

.icon-lianjie:before {
  content: "\e69d";
}

.icon-zip:before {
  content: "\efd6";
}

.icon-voice:before {
  content: "\e759";
}

.icon-audio:before {
  content: "\ec15";
}

.icon-docs:before {
  content: "\e63c";
}

.icon-folder:before {
  content: "\e7b8";
}

.icon-video:before {
  content: "\e6bb";
}

.icon-image:before {
  content: "\e666";
}

.icon-close:before {
  content: "\e626";
}

.icon-menu:before {
  content: "\e630";
}

.icon-aislogo:before {
  content: "\e648";
}

.icon-ai:before {
  content: "\e605";
}

.icon-tichu:before {
  content: "\e9ba";
}

.icon-leave:before {
  content: "\eb6e";
}

.icon-join:before {
  content: "\eb6c";
}

.icon-dissolution:before {
  content: "\e672";
}

.icon-file:before {
  content: "\e603";
}

.icon-more:before {
  content: "\e73a";
}

.icon-chat:before {
  content: "\ecb2";
}

.icon-calendar:before {
  content: "\e7b4";
}

.icon-task:before {
  content: "\e629";
}

.icon-personnel:before {
  content: "\e870";
}

.icon-enterprise:before {
  content: "\e64a";
}

.icon-back:before {
  content: "\efd5";
}

.icon-loading:before {
  content: "\e6a6";
}

.icon-fujian:before {
  content: "\e61b";
}

.icon-fasong:before {
  content: "\e893";
}

.icon-taogongzi:before {
  content: "\e601";
}

.icon-shanchu:before {
  content: "\e64c";
}

.icon-bianji:before {
  content: "\e64b";
}

.icon-wenda1:before {
  content: "\e65e";
}

.icon-cz-jl:before {
  content: "\e772";
}

.icon-photo:before {
  content: "\e6de";
}

.icon-wenda2:before {
  content: "\e650";
}

.icon-go:before {
  content: "\e60b";
}

.icon-zhishi:before {
  content: "\e6b8";
}

.icon-zhishi2:before {
  content: "\e734";
}

.icon-mingzhong:before {
  content: "\e722";
}

.icon-code:before {
  content: "\e638";
}

.icon-markdown:before {
  content: "\efd4";
}

.icon-source:before {
  content: "\e602";
}

.icon-user:before {
  content: "\e633";
}

.icon-logout:before {
  content: "\e6bd";
}

.icon-setting-gear:before {
  content: "\e795";
}

.icon-setting-bar:before {
  content: "\e600";
}

